.container {
  max-width: 960px;
}
sup {
  font-weight: bold;
}
.btn-success span.text-success {
  color: #7f7 !important;
}
.btn-info span.text-success {
  color: #070 !important;
}
.btn-success .text-danger {
  color: #faa !important;
}
.dropdown-menu-pointer li {
  cursor: pointer;
}
.label-hour {
  width: 0.5rem;
  height: 0.5rem;
  color: gray;
}
.lhour-1 {
  left: 0% !important;
}
.lhour-2 {
  left: 13% !important;
}
.lhour-3 {
  left: 26% !important;
}
.lhour-4 {
  left: 39.5% !important;
}
.lhour-5 {
  left: 53% !important;
}
.lhour-6 {
  left: 66.3% !important;
}
.lhour-7 {
  left: 80% !important;
}
.lhour-8 {
  left: 93% !important;
}
.form-check.selected {
  background-color: #eee;
  border-radius: 10px;
}
.c-pointer *,
.form-check-input {
  cursor: pointer;
}
